@model Project1.WebApp.ViewModels.PizzaViewModel

@{
    ViewData["Title"] = "Create Pizza";
}

<h1>Create</h1>

<h4>Pizza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div>
                @Html.LabelFor(model => model.Ingredients)
                <br />
                @for (var i = 0; i < Model.Ingredients.Count; i++)
                {
                    @Html.HiddenFor(m => Model.Ingredients[i].Id)
                    @Html.HiddenFor(m => Model.Ingredients[i].Name)
                    @Html.CheckBoxFor(m => Model.Ingredients[i].Checked)
                    @Model.Ingredients[i].Name
                    @Html.EditorFor(m => Model.IngredientsAmount[i].Quantity)
                    <br />
                }
            </div>
       
            @*<fieldset>
                <legend>Ingredients</legend>

                @if (Model.Ingredients == null || Model.Ingredients.Count == 0)
                {
                    <p>None.</p>
                }
                else
                {
                    <ul style="list-style-type: none">
                        @for (int i = 0; i < Model.Ingredients.Count; i++)
                        {
                            //Html.RenderPartial("IngredientEntry", Model.Ingredients[i]);
                            //Html.RenderPartial("PizzaIngredientEntry", Model.PizzaIngredients[i]);
                            <a href="#" onclick="$(this).parent().remove();">Delete</a>
                        }
                    </ul>
                }
                <a href="#">Add Ingredient</a>
            </fieldset>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
